@using Masterarbeit.Frontend.Models;
@{
    ViewData["Title"] = "Update Image";
}

@model TagImageViewModel;

@foreach (var image in Model.Image) {
    <img src="C:\develop\uni\mbums\nanog_vs_time.png" alt="" class="img-thumbnail"/>
}

<div class="row">
    <a asp-controller="UpdateImage" asp-action="TagImage" asp-route-files="files">Weiter</a>
</div>